# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/
.pytest_cache/

# Databases
*.db
*.sqlite

# Media uploads and output processing
backend/uploads/*
!backend/uploads/.gitkeep
backend/outputs/*
!backend/outputs/.gitkeep

# Node.js / Frontend
node_modules/
frontend/node_modules/
frontend/dist/
.eslintcache

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ML Models & Test Videos
backend/app/models/*.onnx
backend/app/models/*.pt
*.webm
backend/pyrightconfig.json
